.ekm-age-check-user-dummy {
  display: none;
}

/* Main modal CSS there are rules inherited by
the mobile version, so be careful making changes */

.ekm-age-check-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.ekm-age-check-modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 30%;
  color: #646464;
  min-width: 520px;
}

.ekm-age-check-modal-header {
  padding: 20px;
  font-size: 30px;
  text-align:center;
}

.ekm-age-check-modal-body {
  padding: 20px;
  border-color: #646464;
  border-style: solid;
  border-width: 1px 0 1px 0;
  font-size: 14px;
  text-align: center;
}

.ekm-age-check-modal-footer {
  padding: 10px 20px;
}

.ekm-age-check-btn {
  padding: 5px 10px;
  text-align: center;
  width: 10%;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.ekm-age-check-yes-btn {
  background-color: #017cc2;
  border: 1px solid #017cc2;
}

.ekm-age-check-no-btn {
  background-color: #ec1e1e;
  border: 1px solid #ec1e1e;
  float: right;
}

.ekm-age-check-btn:hover {
  background-color: #ffffff;
  font-weight: bold;
}

.ekm-age-check-yes-btn:hover {
  color: #ec1e1e;
}

.ekm-age-check-no-btn:hover {
  color: #017cc2;
  text-decoration: none;
}

/* #################### Mobile CSS #################### */
.ekm-age-check-modal-mob {
  padding: 0;
}

.ekm-age-check-modal-content-mob {
  width: 100%;
  min-width: 0;
}

.ekm-age-check-modal-header-mob {
  padding: 15px;
}

.ekm-age-check-modal-body-mob {
  padding: 10px;
}

.ekm-age-check-modal-footer-mob {
  padding: 10px;
}

.ekm-age-check-btn-mob {
  padding: 5px 10px;
  text-align: center;
  width: 80%;
  margin: auto;
  display: block;
  font-size: 18px;
  color:#ffffff;
  text-decoration: none;
}

.ekm-age-check-no-btn-mob {
  background-color: #ec1e1e;
}

.ekm-age-check-yes-btn-mob {
  background-color: #017cc2;
}
